.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    padding: 10px 35px;
    position: fixed;
    top: 0;
    left: 11%;
    right: 0;
}

.innerContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 23px;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.imgContainer {
    width: 60px;
}

.img {
    width: 100%;
}

.navbarText {
    font-weight: 900;
    font-size: 24px;
    color: #4098CF;
}
